<div class="records" ng-class="{grid: showAsGrid, list: !showAsGrid}">
	<div class="employee" id="employee-{{e.Id}}" ng-repeat="e in employees | orderBy:orderProp">
		<div class="employee-summary" ng-class="{first: $first}">
			<img ng-src="{{e.AvatarUrl}}" alt="{{e.FirstName}} {{e.LastName}}"/>
			<span>{{e.FirstName}} {{e.LastName}}</span>
			<span>{{e.Location}}</span>
			<span><button class="details-toggle" ng-click="toggleModal(e.Id)">Show Details</button></span>
		</div>
		<modal-dialog>
			<div>
				<h2>{{employee.User.FirstName}} {{employee.User.LastName}}</h2>
				<img ng-src="{{employee.User.AvatarUrl}}" alt="{{employee.User.FirstName}} {{employee.User.LastName}}">
				<p><span class="stat">Location:</span> {{employee.User.Location}}</p>
				<p><span class="stat">Likes:</span> {{employee.Details.Likes}}</p>
				<p><span class="stat">Dislikes:</span> {{employee.Details.Dislikes}}</p>
				<p><span class="stat">Favorite quote:</span> {{employee.Details['Favorite Quote']}}</p>
			</div>
		</modal-dialog>
	</div>
</div>